body  {
	font-size:13px;
	color: #222222;
	margin: 0 auto;
	font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
}
#container {
	margin-top: 40px;
	width: 980px;
}
.article{
    padding:10px;
    width:630px;
    margin-left: 0px;
}
.event-wrap {
	min-height: 265px;
}
#poster{
    float: left;
    margin: 10px 20px 0 10px;
    display: table;
    min-height: 255px;
}
#poster a{
	display:table-cell;
	vertical-align: middle;
	width: 215px;
	text-align: center;
}
#poster img{
	max-height: 250px;
	max-width: 215px;
}
#event-info {
	overflow: hidden;
	height: 265px;
}
.event-info {
	font-size: 13px;
}
#event-category a,#event-host a {
	color: #03B3B2;
}
#event-category a:hover,#event-host a:hover{
	border-bottom: 1px dotted #03B3B2;
}
.event-info h1{
	font-size: 20px;
	font-weight: bold;
	padding:10px;
	margin-bottom: 10px;
}
span.pl{
	color: #666666;
	margin-right: 3px;
}
#event-time,#event-location,#event-fee,#event-category,#event-host{
	margin-bottom: 6px;
}
.interest-attend {
	margin-top: 15px;
}
#event-act{
	margin-top:25px;
}

a.collect-btn {
	padding: 3px 15px;
	border: 1px solid #C3E99E;
	background: #D9F2C0;
	color: #008A17;
	margin:10px 10px 10px 0;
}
a.collect-btn:hover {
	border: 1px solid #84C43C;
	background: #82BA00;
	color: #FFFFFF;
}

a.already-btn {
	padding: 3px 15px 3px 15px;
	background: #FF5473;
	border: 1px solid #FF001E;
	color:#FFF;
	margin:10px 10px 10px 0;
}

.event-tags{
	margin-top: 5px;
	height: 25px;
	padding: 10px 0;
	overflow: hidden;
}
.event-tags a{
	padding: 2px 5px 2px 5px;
	background: #DDDDDD;
	color: #666666;
	margin-right:10px;
	margin-bottom:10px;
}
.event-tags a:hover{
	background: #333333;
	color: #FFFFFF;
}
span.tags-left{
	float:left;
	font-size: 13px;
	padding: 2px 5px 2px 5px;
	margin-right: 10px;
	margin-top: -2px;
}
.event-tags li{
	float: left;
	list-style-type: none;
}
.examining {
	color: #FF0000;
    padding: 4px 15px;
    background-color: #FFF5CA;
    border:1px solid #F8E4A0;
    margin: 15px 0 ;
    width: 370px;
    overflow: hidden;
}
.related-info h2{
	font-size: 16px;
	color: #84C43C;
	padding: 5px 0;
}
#info-detail {
	font-size: 13px; 
	padding: 5px 0;
}
#sidebar {
	float: right;
	width: 250px;
	height:auto;
	padding: 15px 10px;
}
#sidebar div{
	padding: 10px;
}
