body  {
    font-size:13px;
    color: #222222;
    margin: 0 auto;
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
}
#container {
     margin-top: 40px;
     width: 980px;
 }
/* operation-box */
.fixed{
    background: white;
    position: fixed;
    top: 38px;
    height: 139px;
    padding-bottom: 3px;
}
h1{
    width: 980px;
    padding: 10px 0 20px;
    background: white;
}
#tips{
    margin: -50px auto 0;
    max-width: 300px;
    height: 30px;
    text-align: center;
    position: relative;
    background: #CCCCCC;
    padding: 10px;
    font-size: 15px;
}
#tips a{
    text-decoration: underline;
    color: #5DB2FF;
}
#operation-box{
    margin-left: 0;
    background: white;
    width: 680px;
    height: 40px;
}
#operation-box>*{
    float: left;
    margin-right: 10px;
}
/* search */
#operation-box form{
    width: 200px;
}
#friends-search{
    padding: 2px 10px;
    height: 22px;
    border: 3px solid #DDDDDD;
}
#friends-search-btn{
    position: absolute;
    font-family: inherit;
    height: 32px;
    left: 171px;
    background: #EEEEEE;
    border: 3px solid #DDDDDD;
    cursor: pointer;
}
#friends-search-btn span{
    position: relative;
    top: 4px;
    padding: 5px 11px 0px;
    background: url("../images/contacts-btn.png") no-repeat -77px -5px;
}
/* operation */
.operation{
    padding: 2px 0;
    background: #EEEEEE;
    border: 2px solid #DDDDDD;
    cursor: pointer;
}
#operation-box .operation p{
    height: 24px;
    font-size: 16px;
    color: #424242;
    margin: 0 10px;
}
.operation span{
    position: relative;
    top: 5px;
    left: 4px;
    padding: 5px 11px 0px;
    background: url("../images/contacts-btn.png") no-repeat;
}
#remove{
    background-position: -5px -5px;
}
#move{
    background-position: -28px -5px;
}
#add{
    background-position: -102px -5px;
}
#group{
    background-position: -55px -5px;
}
/* group-header */
.group-header{
    border-bottom: 2px solid #ddd;
    margin: 0;
    width: 680px;
}
h2{
    color: #555;
}
.rename,.delete-group {
    background: #ccc;
    cursor: pointer;
    float: right;
    font-size: 12px;
    margin: -25px 0 0 10px;
    padding: 5px 10px;
    visibility: hidden;
}
/* group-selection */
.group-selection{
    position: absolute;
    margin-top: 4px;
    margin-left: -2px;
    background: #FFFFFF;
    width: 150px;
    overflow-x: hidden;
    border: 2px solid #DDDDDD;
    display: none;
}
.group-selection li{
    list-style: none;
    font-size: 16px;
    padding: 5px 10px;
    float: none;
    cursor: pointer;
}
#create-group {
    display: block;
    font-size: 15px;
    padding: 5px 10px;
}
.group-selection li:hover, #manage-group:hover{
    background: #DDDDDD;
}
.group-selection .passive{
    color: #BBB;
    cursor: default;
}
.group-selection .passive:hover{
    background: #FFF;
}

/* sidebar */
#sidebar{
    clear: both;
    float: right;
    margin-top: 10px;
    width: 250px;
}
#sidebar a{
    font-size: 18px;
    padding: 5px 0;
    color: #03B3B2;
}
#sidebar a:hover{
    border-bottom: 1px dotted #03B3B2;
}
#sidebar h3{
    margin-top: 40px;
    padding: 10px 0px;
}
/* contacts-body */
#contacts-body{
    margin: 180px 0 0;
    width: 650px;
    min-height: 190px;
    background: #F0F0F0;
    padding: 20px 10px 20px 20px;
}
.user-display{
    float: left;
    background: white;
    width: 180px;
    height: 108px;
    margin: 0 10px 15px 0;
    padding: 10px;
    color: #777777;
    font-size: 11px;
    border: 2px solid #CCCCCC;
}
.user-display:hover{
    background-color: #C3E99E;
    border-color: #C3E99E;
}
.user-display.active{
    background-color: #84C43C;
    border-color: #84C43C;
    color: white;
}
.user-display .pic{
    float: left;
    width: 85px;
    height: 85px;
    border: 4px solid white;
}
.user-display img{
    height: 85px;
    width: 85px;
}
.user-display .user-info{
    float: left;
    width: 80px;
    margin-left: 5px;
}
.user-display .user-info .name{
    font-size: 16px;
    font-weight: normal;
    color: #000000;
    padding: 0 0 10px;
    word-break: break-all;
}
.user-display.active .name{
    color: white;
}
.user-display .user-info .name:hover{
    color: #000000;
}
.user-display.active .name:hover{
    color: white;
}
.user-display .extra{
    padding-left: 2px;
}

/* for js */
.clear{
    background: #CCC;
    clear: both;
    cursor: pointer;
    margin-right: 18px;
    padding: 5px 10px;
    text-align: center;
}
#loading{
    display: block;
}

#to-top{
    background: url(../images/back-to-top.png);
    height:50px;
    position: fixed;
    bottom: 50px;
    right: 300px;
    z-index: 100;
    width:50px;
    cursor: pointer;
    visibility: hidden;
}
#to-top:hover{
    background-position: -50px 0;
}

