body  {
    font-size:13px;
    color: #222222;
    margin: 0 auto;
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
}
#container {
    margin-top: 38px;
    width: 980px;
    margin-bottom: 40px;
}
#container-clear-fix{
    width: 800px;
    margin: 0 auto;
}
/* password-box */
.password-box {
     width: 294px;
     margin-top: 60px;
     margin-left: 0px;
     padding:50px 40px;

 }
.password-box h2{
    color:#444444;
    border-bottom: 3px solid #C3E99E;
    font-size: 24px;
    font-weight: normal;
    padding: 5px 0;
    margin-bottom: 20px;
}
.password-box p{
    padding-bottom: 5px;
}

.password-box input[type=text]{
    border: 1px solid #BBBBBB;
    padding: 2px;
    width: 220px;
    height: 22px;
    margin-bottom: 25px;
 }
.password-box input[type=text]{
    color: #555555;
 }
.password-box input:focus[type=text]{
    border: 1px solid #84C43C;
 }
.password-box input:hover[type=text]{
    border:1px solid #84C43C;
 }

input.sent-btn{
    font-family:inherit;
    font-weight:normal; 
    border: 1px solid #84C43C;
    padding: 3px 18px;
    color: #FFFFFF;
    background: #84C43C;
    margin-right: 10px;
    text-decoration: none;
    font-size: 15px;
}
input.sent-btn:hover{
    border: 1px solid #C3E99E;
    background: #C3E99E;
}
a#back {
    color: #888888;
    text-decoration: none;
}
a#back:hover {
    color:#BBBBBB;
    border-bottom: 1px dotted #84C43C;
}

/* aside */
.aside {
    float: right;
    width: 320px;
    margin-left: 30px;
    padding-top: 30px;
    color: #777777;
}
.aside h3{
    font-size: 16px;
    font-weight: normal;
    color: #84C43C;
    padding: 5px 0px;
    margin-bottom: 16px;
    margin-top: 30px;
}
.aside li{
    list-style-type: none;
}