body{
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
    font-size:14px;
    color: #777777;
}
#container{
    width:980px;
    margin-top: 40px;
}
#new-activity{
    position: relative;
    width: 650px;
    margin-left: 0;
}
#new-activity table{
    margin-left: 0;
    border-collapse:collapse;
}
#new-activity td{
    padding: 15px 30px 15px 0px;
    vertical-align: top;
    border-bottom: 1px solid #EEEEEE;
}
#category{
    height: 22px;
    padding: 2px;
}
.input{
    border: 1px solid #BBBBBB;
    padding: 2px;
    height: 22px;
    font-family: inherit;
}
#title,#place{
    width: 180px;
}
.date{
    width: 101px;
}
.time-begin,.time-end{
    width:103px;
}

.time_error{
    color: #FF0000;
    padding: 4px 15px;
    background-color: #FFF5CA;
    border:1px solid #F8E4A0;
    margin: 15px 0 0 0;
    width: 276px;
}

input.date{
  background: #FFFFFF url(../images/calendar.png) right center no-repeat;
}
#new-activity input{
    color: #555555;
}
.input:focus{
    border: 1px solid #84C43C;
}
.input:hover{
    border: 1px solid #84C43C;
}
#new-activity>form>span{
    font-size:x-large;
    margin-left: 2px;
}
textarea.input{
    height: 150px;
    width: 400px;
    max-width: 400px;
    min-height: 100px;
    padding: 2px;
    resize: none;
    overflow-y: visible;
}
#upload-pic{
    position: relative;
    background: #777;
    height: 350px;
    width: 400px;
}
#upload-pic.none{
    font-size: 31px;
    color: #EEE;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    padding: 155px 0;
    width: 400px;
}
.upload{
    background: #5db2ff;
    color: #FFF;
    cursor: pointer;
    font-size: 14px;
    height: 22px;
    margin: 10px 0 0 3px;
    padding: 3px 0;
    position: relative;
    overflow: hidden;
    text-align: center;
    width: 84px;
}
.upload span{
    cursor: pointer;
}
.loading {
    color: #eee;
    font-size: 21px;
    margin: 154px 0 0 175px;
    position: absolute;
    z-index: 6000;
}
#poster{
    cursor: pointer;
    font-size: 18px;
    left: -200px;
    position: absolute;
    opacity: 0;
    top:0;
}
div.btn-box{
    padding: 20px;
    margin-left: 40px;
    margin-bottom: 50px;
}
#create,#cancel{
    color: #FFFFFF;
    font-family: inherit;
}
#create{
    background: #222222;
    border: 1px solid #222222;
    margin-right: 20px;
    font-size: 14px;
    padding: 5px 27px;
    cursor: pointer;
}
#create:hover{
    border: 1px solid #84C43C;
    background: #84C43C ;
}
#cancel{
    padding: 5px 20px;
    background: #DDDDDD;
    border: 1px solid #DDDDDD;
    cursor: pointer;
}
#cancel:hover{
    background: #EE0404;
    border: 1px solid #EE0404;
}
#help{
    float:right;
    position: relative;
    width: 250px;
    height: 320px;
    border-style: solid;
    padding: 10px;
}