body{
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
    font-size:13px;
    color: #222222;
}
#container{
    width: 980px;
    margin-top: 60px;
    padding: 10px;
}
/* personal-content */
.personal-content{
    width: 650px;
    margin-left: 0px;
}
.event{
    height: 236px;
    width: 620px;
    position: relative;;
    margin: 50px 0px;
    overflow: hidden;
}
.event h3{
    color:#84C43C;
    font-weight: lighter;
}
.event ul{
    width: 65000px;
}
.pre-btn,.next-btn {
    float: right;
    padding-right: 10px;
    font-size: 12px;
    color: #DDDDDD;
    cursor: default;
}
.next-btn{
    margin-right: 35px;
}
.display{
    height: 160px;
    padding: 15px 0px;
}
.single-activity{
    position: relative;
    float:left;
    list-style-type: none;
    margin-right: 15px;
}
.single-activity img {
    height: 180px;
    width: 140px;
}
.single-activity h5{
    font-size:inherit;
    font-weight: lighter;
}
/* leave-message */
#leave-message{
    padding: 0 330px 10px 0;
    width: 630px;
}
#leave-message h2{
    font-size: 16px;
    color: #84C43C;
    padding: 15px 0 5px 0;
    border-top: 1px solid #DDDDDD;
}
/* sidebar */
#sidebar{
    padding: 4px;
    float: right;
    background: #DDF7C3;
}
/* introduction */
#introduction{
    margin-top: 10px;
    width: 280px;
}
#introduction h3{
    display:inline-block;
    float: right;
    width: 95px;
    font-size: 18px;
    color: #222222
}
#introduction img{
    height: 165px;
    width: 165px;
    margin-bottom: 10px;
}
#introduction a{
    color: #FFFFFF;
    background: #555555;
    padding: 2px 5px;
}
#introduction a:hover{
    background: #BBBBBB;
    color: #FFFFFF;
}
#introduction h4{
    margin: 10px 0 5px 0;
    color:#222222;
}
#brief-intro p{
    color: #555555;
    font-weight: lighter;
    font-size: 12px;
}
/* attention */
#attention h4 {
    padding: 5px;
    background: #84C43C;
    color: #FFFFFF;
}    
#attention{
    padding: 15px;
    width: 280px;
}
.more a{
    float: right;
    font-weight: lighter;
    font-size: 12px;
}
.more a:hover{
    border-bottom: 1px solid #FFFFFF;
}
.attention-display{
    height: 79px;
    margin-bottom: 20px;
}
.attention-display dl{
    float: left;
    padding: 10px 0px 10px 0px;
    text-align: center;
    margin-right: 11px;
}
.attention-head a{
    color: #6BA52B;
}
.attention-head {
    list-style-type: none;
}
.attention-head img{
    height: 45px;
    width: 45px;
}
