body{
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
    font-size:14px;
    color: #777777;
}
#container{
    margin-top: 40px;
    padding:10px;
    width:980px;
}
.fields{
    margin-bottom: 50px;
}
.fields h3{
    font-size: 18px;
    color: #555555;
    padding: 15px 10px;
}
.fields hr{
    border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #EEEEEE;
}
.fields table{
    margin: 0 0px;
    padding-top: 10px;
}
.fields td{
    height: 32px;
    padding: 5px;
    vertical-align: top;
}
.personal-setting input[type=password]{
    border: 1px solid #BBBBBB;
    padding: 2px;
    width: 210px;
    height: 22px;
}
.personal-setting input{
    color: #555555;
}
.personal-setting input:focus{
    border: 1px solid #84C43C;
}
.personal-setting input:hover{
    border: 1px solid #84C43C;
}
.submit-btn{
    padding: 5px 20px;
    background: #BBBBBB ;
    color: #FFFFFF;
}
.submit-btn:hover{
    background: #222222;
}
button[type=submit],#mail-submit {
    border: 1px solid #BBBBBB;
    font-size: 14px;
    font-family: inherit;
    cursor: pointer;
} 
button[type=submit]:hover,#mail-submit:hover{
    border: 1px solid #222222;
} 

/* message 
#msg{
    color: #666;
    padding: 7px 15px;
    background-color: #FFF5CA;
    border:1px solid #F8E4A0;
    width: 300px;
    margin-top: 20px;
    margin-left: 0px;
}
*/

/* link-btn */
#renren-link:hover{
    background: #0072C6;
}
#qq-link{
    padding: 5px 23px;
}
#qq-link:hover{
    background: #5DB2FF;
}
#sina-link:hover{
    background: #D24726;
}
/* mail */
#mail-fiels p{
    margin-top: 20px;
    color: #555555;
}
.emailSuccess{
    display: block;
    background:#33be40;
    color:#fff;
    width:150px;
    margin-left: 40px;
    padding:4px 10px 4px 10px;
    border:2px solid #ddd;
    border-radius:6px;box-shadow:0 0 6px #000;
    font:12px/1.7 "\5b8b\4f53",Tahoma;
    cursor:pointer;
    z-index:5001;
}
.emailError{
    display: block;
    background:#393939;
    color:#fff;
    width:150px;
    margin-left: 40px;
    padding:4px 10px 4px 10px;
    border:2px solid #ddd;
    border-radius:6px;box-shadow:0 0 6px #000;
    font:12px/1.7 "\5b8b\4f53",Tahoma;
    cursor:pointer;
    z-index:5001;
}