body  {
    font-size:13px;
    color: #666666;
    margin: 0 auto;
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
}
#container {
    margin-top: 40px;
    width: 980px;
}
/* header */
.header{
    padding: 10px 25px;
    border-bottom: 1px solid #DDDDDD;
}
.header h1{
    font-size: 18px;
    font-weight: bold;
}
.header span{
    color: #84C43C;
}
/* aside */
.aside{
    float: right;
    width: 250px;
    height: 300px;
    margin-top: 50px;
    border: 1px solid #EEEEEE;
    border-top: none;
}
.aside .box-head{
    padding: 10px 15px;
    color: #EEEEEE;
    width: 220px;
    background: #444444;
}

/* main */
#main{
    padding:10px 0;
    width:640px;
    margin-left: 0px;
    overflow: auto;
}
/* selection */
.selection{
    margin-left: 10px;
    width: 568px;
    padding-top: 12px;
}
.selection a{
    float: left;
    margin: 0 15px 0 0;
    font-size: 16px;
    font-weight: normal;
    color: #FFFFFF;
    padding: 3px 15px;
    background: #C3E99E;
}
.selection a:hover,.selection a.active{
    background: #84C43C;
}
/* result */
#main .result{
    padding-left: 10px;
    border-top: 5px solid #84C43C;
}
#main .result table{
    margin-left: 0;
    border-collapse: collapse;
}
#main .result table td{
    margin-bottom: 2px;
    border-bottom: 1px dotted #DDDDDD;
    padding: 15px 10px 15px 10px;
    vertical-align: top;
    min-height: 200px;
}
/* img */
#main .result table .left {
    height: 163px;
    width: 100px;
    position: relative;
    overflow: hidden;
}
.left a{
    display:block;
    left: 50%;
    margin-left: -500px;
    text-align: center;
    position: absolute;
    width: 1000px;
}
.left img{
    height: 163px;
    position: relative;
    top: -50%;
}

/* content */
#main .result .content{
    width: 435px;
}
#main .result .content h3 a{
    font-size: 16px;
    font-weight: normal;
    color: #222222;
}
#main .result .content h3 a:hover{
    color: #84C43C;
}
#main .result .content p{
    margin: 10px 0 0;
}
#main .result .content p.detail a{
    color: inherit;
    border-bottom: 1px dotted #FFFFFF;
}
#main .result .content p.detail a:hover{
    border-bottom: 1px dotted #84C43C;
}
#main .result .content .tag{
    padding: 3px 0;
}
#main .result .content .tag a{
    padding: 2px 5px 2px 5px;
    font-size: 12px;
    background: #DDDDDD;
    color: #666666;
    margin-right:10px;
}
#main .result .content .tag a:hover{
    background: #333333;
    color: #FFFFFF;
}
#main .result .content p.info span{
    margin-right: 10px;
}

/* page-nav */
#main .result .page-nav{
    float: right;
    margin: 10px 48px 0 0;
    padding: 15px 0;
}
#main .result .page-nav a{
    color: #777777;
    padding: 5px;
}
#main .result .page-nav a:hover{
    background: #C3E99E;
}
#main .result .page-nav .active{
    background: #C3E99E;
    padding: 5px;
    cursor: default;
}