/*
__________________________
author: G.J.8
date: 11/24/2012
__________________________
*/

/*
__________________________
COLORS
Main Text: #222222;
Links: #03B3B2;
Visted Links: ;
Hover Links: ;
H1,H2,H3,H4,H5,H6;
__________________________
*/

body  {
    font-size:13px;
    color: #222222;
    font-family: "Microsoft Yahei","Helvetica Neue","Luxi Sans","DejaVu Sans",Tahoma,"Hiragino Sans GB";
}

h1{
    font-size: 20px;
}
h2{
    font-size: 16px;
}
h3{
    font-size: 15px;
}

