/*
__________________________
author: G.J.8
date: 11/24/2012
__________________________
*/

input[type=text],input[type=password] {
    border: 1px solid #BBBBBB;
    padding: 2px;
    height: 22px;
    color: #555555;
}
textarea {
    overflow: hidden;
    resize: none;
}
input:focus,textarea:focus {
    border: 1px solid #84C43C;
}
input:hover,textarea:hover {
    border: 1px solid #84C43C;
}

/* green-to-black-btn */
button {
	padding: 5px 20px;
	color:#FFFFFF;
	font-family: inherit;
	background: #84C43C;
	border: 1px solid #84C43C;
}
button:hover {
	background: #222222;
	border: 1px solid #222222;
}
