/*
__________________________
author: G.J.8
date: 11/24/2012
__________________________
*/

/* word-link in main text */
.word-link{
    color: #5DB2FF;
}
.word-link:hover{
    border-bottom: 1px dotted #5DB2FF;
}

/* tag-link */
.tag-link{
    padding: 2px 5px;
    background: #DDDDDD;
    color: #666666;
}
.tag-link:hover{
    background: #333333;
    color: #FFFFFF;
}

/* light-link 灰色连接 */
.light-link{
    color: #888888;
    text-decoration: none;
}
.light-link:hover{
    color: #BBBBBB;
    border-bottom: 1px dotted #84C43C;
}

/* green-deep-to-light-btn-link */
.green-btn{
    padding: 5px 10px;
    background: #84C43C;
    color: #FFFFFF;
    text-decoration: none;
}
.green-btn:hover{
    background: #C3E99E;
}